<!DOCTYPE html>
<html>
<head>
    {{template "commons/head.html" .}}
    <title>首页</title>
</head>

<body>
<div id="wrapper">
    {{template "commons/menu_left.html" .}}
    <div id="page-wrapper" class="gray-bg">
        {{template "commons/menu_top.html" .}}
        {{template "commons/modal.html" .}}

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-3 col-xs-12 col-sm-12 col-md-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>朱逊</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr><td><a href="https://github.com/Zxnui" target="_blank">GitHub</a></td></tr>
                                    <tr><td><a href="http://git.oschina.net/zxnui" target="_blank">OsChina</a></td></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>陈柏宇</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a >
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a >
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                <tr><td><a href="http://git.oschina.net/cby007" target="_blank">OsChina</a ></td></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>谢榕</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a >
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a >
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                <tr><td><a href="http://git.oschina.net/xierong" target="_blank">OsChina</a ></td></tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-xs-12 col-sm-12 col-md-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Tools</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr><td><a href="https://github.com/XX-net/XX-Net" target="_blank">翻墙</a></td></tr>
                                    <tr><td><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></td></tr>
                                    <tr><td><a href="http://www.processon.com/" target="_blank">线上流程图</a></td></tr>
                                    <tr><td><a href="https://www.aliyun.com/" target="_blank">阿里云</a></td></tr>
                                    <tr><td><a href="https://aws.amazon.com/cn/" target="_blank">AWS</a></td></tr>
                                    <tr><td><a href="https://git-scm.com/" target="_blank">Git</a></td></tr>
                                    <tr><td><a href="https://tortoisesvn.net/" target="_blank">SVN</a></td></tr>
                                    <tr><td><a href="http://maven.apache.org/" target="_blank">Maven</a></td></tr>
                                    <tr><td><a href="http://tomcat.apache.org/">Tomcat</a></td></tr>
                                    <tr><td><a href="http://www.jetbrains.com/idea/" target="_blank">Intellij IDEA</a></td></tr>
                                    <tr><td><a href="http://www.sublimetext.com/" target="_blank">Sublime Text</a></td></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-12 col-sm-12 col-md-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Blogs</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr><td><a href="http://note.youdao.com" target="_blank">Note.me</a></td></tr>
                                    <tr><td><a href="http://www.ruanyifeng.com/" target="_blank">Ruan Yifeng</a></td></tr>
                                    <tr><td><a href="http://linuxtoy.org/" target="_blank">Linux Toy</a></td></tr>
                                    <tr><td><a href="http://coolshell.cn/" target="_blank">酷壳</a></td></tr>
                                    <tr><td><a href="http://tianchunbinghe.blog.163.com/" target="_blank">Chun Tian</a></td></tr>
                                    <tr><td><a href="http://linux.vbird.org/" target="_blank">Linux Vbird</a></td></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>OutLine_Docs</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr><td>On Lisp</td></tr>
                                    <tr><td>Thinking In Java</td></tr>
                                    <tr><td>Head First Servlet Jsp</td></tr>
                                    <tr><td>Spring实战</td></tr>
                                    <tr><td>Jvm周志明</td></tr>
                                    <tr><td>Head First 设计模式</td></tr>
                                    <tr><td>高性能MySQL(第三版)</td></tr>
                                    <tr><td>程序员的数学思维修炼</td></tr>
                                    <tr><td class="info"></td></tr>
                                    <tr><td>黑客与画家</td></tr>
                                    <tr><td>像艺术家一样思考</td></tr>
                                    <tr><td>追风筝的人</td></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-12 col-sm-12 col-md-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Docs</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr><td><a href="https://help.aliyun.com/" target="_blank">AliYun.Help</a></td></tr>
                                    <tr><td><a href="http://developers.google.com/edu/python" target="_blank">Google Python</a></td></tr>
                                    <tr><td><a href="https://github.com/acl-translation/acl-chinese" target="_blank">ANSI Common Lisp</a></td></tr>
                                    <tr><td><a href="http://taop.marchtea.com/" target="_blank">算法心得 July</a></td></tr>
                                    <tr><td><a href="https://github.com/libgdx/libgdx/wiki" target="_blank">LibGDX DOC</a></td></tr>
                                    <tr><td class="info"></td></tr>
                                    <tr><td><a href="https://github.com/astaxie/build-web-application-with-golang/blob/master/zh/preface.md" target="_blank">Astaxie.Go_Web</a></td></tr>
                                    <tr><td><a href="https://github.com/Unknwon/the-way-to-go_ZH_CN" target="_blank">Unknwon.Go入门</a></td></tr>
                                    <tr><td><a href="http://docscn.studygolang.com/doc/" target="_blank">GoLang文档</a></td></tr>
                                    <tr><td><a href="http://studygolang.com/" target="_blank">GoLang中文网</a></td></tr>
                                    <tr><td><a href="http://www.golangtc.com/" target="_blank">GoLang中国</a></td></tr>
                                    <tr><td><a href="http://beego.me" target="_blank">Beego架构</a></td></tr>
                                    <tr><td class="info"></td></tr>
                                    <tr><td><a href="http://www.w3school.com.cn/" target="_blank">W3school</a></td></tr>
                                    <tr><td><a href="http://v3.bootcss.com/" target="_blank">Bootstrap_v3</a></td></tr>
                                    <tr><td><a href="https://wrapbootstrap.com/" target="_blank">Bootstrap案例</a></td></tr>
                                    <tr><td><a href="http://www.bootcdn.cn/" target="_blank">OPEN CDN</a></td></tr>
                                    <tr><td><a href="http://www.jquery123.com/" target="_blank">JQuery API</a></td></tr>
                                    <tr><td><a href="http://echarts.baidu.com" target="_blank">图表-Echarts</a></td></tr>
                                    <tr><td><a href="https://gogs.io/" target="_blank">Gogs.git</a></td></tr>
                                    <tr><td class="info"></td></tr>
                                    <tr><td><a href="https://github.com/spring-projects/spring-framework/" target="_blank">Spring源码</a></td></tr>
                                    <tr><td><a href="http://www.mybatis.org/mybatis-3/zh/index.html" target="_blank">Mybatis</a></td></tr>
                                    <tr><td><a href="https://github.com/snakerflow/snakerflow" target="_blank">Snaker工作流</a></td></tr>
                                    <tr><td><a href="http://wiki.jikexueyuan.com/project/shiro/" target="_blank">Apache Shiro</a></td></tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{template "commons/html_foot.html" .}}
    </div>
</div>

{{template "commons/foot.html" .}}
</body>

</html>