.col-sm-12 .time{
    text-align: right;
}

.book_div{
    border-color: black;
    border: 1px;
    border-style: solid;
    border-bottom:none;
}

.book_bottom{
    border-bottom: solid;
}

.book_right{
    border-left:none;
}

.col-sm-6 p{
    margin: 7px 7px 7px 0px;
}