<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">{{.UserName}}</span>
            </li>
            <li>
            {{if .UserName}}
                <a href="/signOut"><i class="fa fa-sign-out"></i> 退出</a>
            {{else}}
                <a href="/sign"><i class="fa fa-sign-in"></i> 登录</a>
            {{end}}
            </li>
        </ul>
    </nav>
</div>