<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="/">
                        <img alt="image" class="img-circle" src="/static/images/logo.png" />
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li {{if eq 1 .}}class="active"{{end}}>
                <a href="/"><i class="fa fa-diamond"></i> <span class="nav-label">常用链接</span></a>
            </li>
            <li {{if eq 2 .}}class="active"{{end}}>
                <a href="/edit"><i class="fa fa-diamond"></i> <span class="nav-label">MD编辑器</span></a>
            </li>
        </ul>
    </div>
</nav>