<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" style="color: red;">
            </div>
        </div>
    </div>
</div>

<div id="loadModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="width: 100%;height: 100%;background-image:url(/statics/assets/images/loading.gif);
            background-size: 100%;
text-align: center;font-size: 40px;color: #f3f3f4;">
            </div>
        </div>
    </div>
</div>